/.env.testing
/.phpstorm.meta.php
/vendor
/node_modules
.env
.idea
.gitignore
installed
/.settings/
/.project
/.buildpath
/composer.phar
_ide_helper.php
/app/Events/DonationCompletedEvent.php
/app/Jobs/SendDonationNotification.php
/app/Listeners/DonationCompletedListener.php
/app/Mailers/DonationMailer.php
/app/Models/Donation.php
/resources/views/Public/ViewEvent/EventDonationCheckout.blade.php
/resources/views/Public/ViewEvent/Partials/DonationPDFDocu.blade.php
/resources/views/Public/ViewEvent/Partials/EventCreateDonationSection.blade.php
/resources/views/ManageEvent/Modals/DeleteEvent.blade.php
/resources/views/ManageEvent/Modals/DeleteTicket.blade.php
app/Http/Controllers/EventCheckoutControllerstash.php
resources/views/Public/ViewEvent/Partials/EventTicketsSection2Stash.blade.php
*.swp
/public/user_content
public/assets/stylesheet/frontend.js
