/.env.testing
/.phpstorm.meta.php
/vendor
/node_modules
.env
/resources/views/Public/ViewEvent/Partials/EventPesaPalPaymentSection.blade.php
.idea
installed
/.settings/
/.project
/.buildpath
/composer.phar
_ide_helper.php
*.swp
/nbproject/private/
